<page-layout [hasTabBar]="true">
	<header>
		<h1 class="heading-small">Crear Viaje</h1>
		<div class="checkbox-container">
			<label class="only-woman-label">
				<input class="only-woman-checkbox" type="checkbox" />
				Solo mujeres en el viaje
			</label>
		</div>
		<h3 class="label-small">Selecciona el vehículo a utilizar</h3>
	</header>

	@for (v of myVehicles; track v.id) {
	<div class="card-vehicle" (click)="handleVehicleSelection(v)">
		<div class="card-vehicle-image">
			<movic-vehicle color="#FF0000"></movic-vehicle>
		</div>
		<div class="card-vehicle-info">
			<div class="vehicle-details">
				<h4 class="label-medium vehicle-title">{{v.brand}} | {{v.model}}</h4>
				<h4 class="label-medium vehicle-plate">{{v.plate}}</h4>
			</div>
			<div class="vehcicle-specs">
				<p class="label-medium spec-item">{{v.seatQuantity}}</p>
				<p class="label-medium spec-item">Rojo</p>
			</div>
		</div>
	</div>
	}

	<modal title="Asientos disponibles" variant="confirmation" [(isOpen)]="isModalOpen" (onConfirm)="handleConfirm()">
		<div class="modal-body">
			<button class="op-button" (click)="decrementSeatsCount()">-</button>
			<output>{{seatsCount}}</output>
			<button class="op-button" (click)="incrementSeatsCount()">+</button>
		</div>
	</modal>
</page-layout>