<page-layout [hasTabBar]="true">
	<header>
		<h1 class="heading-small">Crear Viaje</h1>
		@if(isAWoman()){
		<div class="checkbox-container">
			<label class="only-woman-label">
				<input class="only-woman-checkbox" type="checkbox" [checked]="optionOnlyWomans"
					(change)="changeOptionOnlyWomans($event)" />
				Solo mujeres en el viaje
			</label>
		</div>
		}
		<h3 class="label-small">Selecciona el vehículo a utilizar</h3>
	</header>

	<div class="vehicles-container">
		@for (v of myVehicles; track v.id) {
		<div class="card-vehicle" (click)="handleVehicleSelection(v)">
			<div class="card-vehicle-image">
				<movic-vehicle [color]="v.color"></movic-vehicle>
			</div>
			<div class="card-vehicle-info">
				<div class="vehicle-details">
					<h4 class="label-medium vehicle-title">{{v.brand}} | {{v.model}}</h4>
					<h4 class="label-medium vehicle-plate">{{v.plate}}</h4>
				</div>
				<div class="vehcicle-specs">
					<p class="label-medium spec-item">{{v.seatQuantity}}</p>
					<p class="label-medium spec-item">{{vehiclesColorsService.getLabelByHex(v.color)}}</p>
				</div>
			</div>
		</div>
		}
	</div>

	<modal title="Asientos disponibles" variant="confirmation" [(isOpen)]="isModalOpen" (onConfirm)="handleConfirm()"
		srcIcon="assets/svgs/CarSeat.svg">
		<div class="modal-body">
			<button class="op-button" (click)="decrementSeatsCount()">-</button>
			<output>{{seatsCount}}</output>
			<button class="op-button" (click)="incrementSeatsCount()">+</button>
		</div>
	</modal>
</page-layout>