<page-layout [hasTabBar]="true">
	<header>
		<h1 class="heading-small">Información del viaje</h1>
		<section class="route-information">
			<div class="starting-point">
				<img src="assets/svgs/StartingPointGray.svg" alt="Punto de Inicio" class="icon">
				<div class="starting-point-info">
					<p class="paragraph-small title">Punto de partida</p>
					<p class="paragraph-small location">UCAB</p>
				</div>
			</div>
			<div class="external-destination">
				<img src="assets/svgs/ExternalPointGray.svg" alt="Destino Externo" class="icon">
				<div class="external-destination-info">
					<p class="paragraph-small title">Destino Externo</p>
					<p class="paragraph-small location">Mi casa</p>
				</div>
			</div>
		</section>
	</header>

	<section>
		<div class="card-row paragraph-xsmall">
			<div class="card-information">
				<img class="card-information-icon" src="/assets/svgs/WalkGrey.svg" alt="icono de distancia a caminar" />
				<span class="card-information-title">150m</span>
			</div>
			<div class="card-information">
				<img class="card-information-icon" src="/assets/svgs/UnLink.svg" alt="icono de emparejamiento" />
				<span class="card-information-title">70%</span>
			</div>
			<div class="only-woman-info">
				<img src="assets/svgs/SecurityShield.svg" alt="Escudo">
				<p class="paragraph-small">Solo mujeres en el viaje</p>
			</div>
		</div>
		<div>
			<div>
				<p>Maria Paula Forero</p>
				<img class="chat-icon" src="/assets/svgs/Chat.svg" alt="icono de chat">
			</div>
			<div class="rating-information">
				<img class="rating-icon" src="/assets/svgs/FullStarBlue.svg" alt="icono de rating" />
				<span class="card-information rating-number">4.8 (60)</span>
			</div>
			<movic-vehicle color="#fffff"></movic-vehicle>
			<div>
				<p class="paragraph-medium">Chevrolet | Spark</p>
				<p class="paragraph-medium">A17BN1E</p>
			</div>
		</div>
	</section>
</page-layout>