.container {
	width: 100%;
	height: calc(100dvh - 5.3rem);
}

.button-container {
	width: 100%;
	position: absolute;
	transform: translateY(-7.3rem);
	display: flex;
	justify-content: start;
	padding-left: 0.8rem;
	margin-top: 1rem;
}
