.container {
	height: calc(100vh - 120px);
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1 {
	text-wrap: pretty;
	color: var(--primary-text-label);
}

button {
	margin-top: 1rem;
}
