main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: .8rem;
	width: 100%;
	padding-top: 3.625rem;
}

h1 {
	color: var(--primary-text-label);
}

.passengers {
	width: 100%;
	margin-top: .8rem;
}

.only-woman-info {
	display: flex;
	justify-content: center;
	gap: .375rem;
}

.only-woman-info p {
	color: #ee1f5c;
}

.only-woman-info img {
	width: var(--icon-s);
}

.route-information {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.starting-point {
	display: flex;
	align-items: start;
	gap: .5rem;
}

.starting-point .icon {
	width: var(--icon-s);
}

.starting-point-info {
	display: flex;
	flex-direction: column;
}

.starting-point-info .title {
	color: var(--primary-text-placeholder);
	line-height: .8rem;
}

.starting-point-info .location {
	color: var(--primary-text-value);
}

.external-destination {
	display: flex;
	align-items: start;
	gap: .5rem;
}

.external-destination .icon {
	width: var(--icon-s);
}

.external-destination-info {
	display: flex;
	flex-direction: column;
}

.external-destination-info .title {
	color: var(--primary-text-placeholder);
	line-height: .8rem;
}

.external-destination-info .location {
	color: var(--primary-text-value);
}

/* Vehicle */

.vehicle-card {
	display: flex;
	align-items: center;
	border: .2rem solid var(--greyscale-border);
	width: 22.625rem;
	height: 7.75rem;
	border-radius: 1rem;
	justify-content: start;
}

.vehicle-card-image {
	width: 8.5rem;
}

.vehicle-card-info {
	display: flex;
	flex-direction: column;
	gap: .3rem;
	color: var(--primary-text-value);
}

.vehicle-card-info .vehicle-details {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: .2rem;
}

.vehcicle-specs {
	display: flex;
	flex-direction: column;
	gap: .3rem;
}

.vehcicle-specs .quantity-seats-available {
	color: var(--primary-text-placeholder);
}

.passengers-quantity {
	color: var(--primary-text-placeholder);
	margin-bottom: 0.3rem;
}

.passengers-list {
	display: flex;
	flex-direction: column;
	gap: .9rem;
	min-height: 50px;
}

/* Passenger Card */

.passenger-card {
	border-radius: 16px;
	padding: 0 .6rem;
	border: 3px solid #bab3c7;
	width: auto;
	max-width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: .6rem;
}

.card-row {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 0.6rem;
	border: 2px solid red;
}

.card-row.justify-between {
	justify-content: space-between;
}

.avatar {
	width: 2.9375rem;
	aspect-ratio: 1;
	border-radius: 100%;
	margin: 0.5rem 0;
}

.passenger-name {
	text-overflow: ellipsis;
	color: var(--primary-text-value);
}

.card-information-title {
	color: var(--primary-text-placeholder);
}

.rating-number {
	color: var(--primary-text-placeholder);
}

.rating-information {
	display: flex;
	align-items: center;
	gap: .1875rem;
}

.rating-icon {
	width: 1.25rem;
}

.chat-icon {
	width: var(--icon-l);
}

.card-information {
	display: flex;
	align-items: center;
	gap: .1875rem;
}

.card-information-icon {
	width: var(--icon-s);
}

.vehicle {
	margin-top: 0.5rem;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}

.passengers-list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
}

.view-requests-button {
	border-radius: 10px;
	padding: 0.5rem 1.5rem;
	border: solid 2px var(--primary-text-value);
}

.action-icon {
	width: 1.5rem;
}

.accept-button {
	display: flex;
	align-items: center;
	color: var(--success-surface);
}

.deny-button {
	display: flex;
	align-items: center;
	color: var(--error-surface);
}

.text-no-requests {
	text-align: center;
	color: var(--primary-text-value);
}

.actions-buttons {
	display: flex;
	justify-content: end;
	gap: 1rem;
}
