a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--greyscale-text-caption);
	gap: 0.3rem;
	text-decoration: none;
}

.icon {
	width: 1.9375rem;
	aspect-ratio: 1;
	background-color: var(--greyscale-border-disabled);
}
