@import url("./app/core/styles/reset.css") layer(reset);
@import url("./app/core/styles/colors.css");
@import url("./app/core/styles/typography.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* TODO: add missing variables from project's Figma */
:root {
	/* Border Radius */
	--radius-xs: 0.25rem;
	--radius-sm: 0.5rem;
	--radius-md: 1rem;
	--radius-lg: 2.25rem;
	--radius-xl: 4rem;
	--radius-full: 100%;

	font-family: Roboto, sans-serif;
}
