.card-destination-container {
	position: relative;
	border-radius: 16px;
	border: 1px solid #efefef;
}

img {
	border-radius: 16px;
}

.view-button {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
}

.card-destination-information {
	display: flex;
	flex-direction: column;
	gap: 1.4375rem;
	padding: 0 .875rem;
	padding-top: 1.125rem;
	padding-bottom: 1.375rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	backdrop-filter: blur(5px);
}

.destination-name {
	color: var(--primary-text-value);
}

.card-buttons-container {
	display: flex;
	flex-direction: row;
	gap: .3125rem;
	justify-content: end;
}
