:host {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	height: 100dvh;
	/* background-color: var(--contrast-color); */
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.horizontal-center {
	display: flex;
	justify-content: center;
}
