<page-layout [hasTabBar]="true">
	<header>
		<h1 class="heading-small">Información del viaje</h1>
		@if (isWomenOnly) {
		<div class="only-woman-info">
			<img src="assets/svgs/SecurityShield.svg" alt="Escudo">
			<p class="paragraph-small">Solo mujeres en el viaje</p>
		</div>
		}
	</header>

	<section class="information-container">

		@if (vehicle) {
		<section class="vehicle">
			<p class="label-small">Vehículo</p>
			<div class="vehicle-card">
				<div class="vehicle-card-image">
					<movic-vehicle [color]="vehicle.color"></movic-vehicle>
				</div>
				<div class="vehicle-card-info">
					<div class="vehicle-details">
						<p class="label-medium vehicle-title">{{vehicle.brand}} | {{vehicle.model}}</p>
						<p class="label-medium vehicle-plate">{{vehicle.plate}}</p>
					</div>
					<div class="vehcicle-specs">
						<p class="label-medium">{{vehicleColorsService.getLabelByHex(vehicle.color!)}}</p>
						<p class="label-medium quantity-seats-available">Asientos disponibles {{seatsQuantity}} de
							{{vehicle.seatQuantity}}</p>
					</div>
				</div>
			</div>
		</section>
		}

		<section class="route">
			<p class="label-small">Ruta</p>
			<div class="route-card">
				<div class="points-container">
					@if (isToUcab) {
					<div class="icons-route">
						<img src="assets/svgs/CurrentLocation.svg" alt="punto de inicio">
						<img src="assets/svgs/ConsecutivePoints.svg" alt="Puntos consecutivos">
						<img src="assets/svgs/EndPointLocation.svg" alt="punto final">
					</div>
					<div class="name-points-route">
						<p class="label-medium">Mi ubicación</p>
						<p class="label-medium">UCAB</p>
					</div>
					} @else {
					<div>
						<p class="label-medium">UCAB</p>
					</div>
					<div>
						<P class="label-medium">{{externalDestinationName}}</P>
					</div>
					}
				</div>
			</div>
		</section>
	</section>

	<button mButton class='confirm-button' size="large" (click)="handleConfirm()">Confirmar Viaje</button>

</page-layout>