<page-layout [hasTabBar]="true">
	<header>
		<h1 class="heading-small">Información del viaje</h1>
		@if (isWomenOnly) {
		<div class="only-woman-info">
			<img src="assets/svgs/SecurityShield.svg" alt="Escudo">
			<p class="paragraph-small">Solo mujeres en el viaje</p>
		</div>
		}
	</header>

	<body>
		<section class="vehicle">
			<p class="label-small">Vehículo</p>
			<div class="vehicle-card">
				<div class="vehicle-card-image">
					<movic-vehicle [color]="vehicle?.color!"></movic-vehicle>
				</div>
				<div class="vehicle-card-info">
					<div class="vehicle-details">
						<p class="label-medium vehicle-title">{{vehicle?.brand}} | {{vehicle?.model}}</p>
						<p class="label-medium vehicle-plate">{{vehicle?.plate}}</p>
					</div>
					<div class="vehcicle-specs">
						<p class="label-medium">{{vehicleColorsService.getLabelByHex(vehicle?.color!)}}</p>
						<p class="label-medium quantity-seats-available">Asientos disponibles {{seatsQuantity}} de
							{{vehicle?.seatQuantity}}</p>
					</div>
				</div>
			</div>
		</section>

		<section class="route">
			<p class="label-small">Ruta</p>
			<div class="route-card">
				<div class="icons-points">

				</div>
				<div class="points-name">
					@if (isToUcab) {
					<P class="label-medium">Mi posición actual</P>
					<p class="label-medium">UCAB</p>
					} @else {
					<p class="label-medium">UCAB</p>
					<P class="label-medium">{{externalDestinationName}}</P>
					}
				</div>
				<div class="icon-map">
				</div>
			</div>
		</section>
	</body>

	<button mButton size="large" (click)="handleConfirm()">Confirmar Viaje</button>


</page-layout>