<page-layout [hasTabBar]="true">
	<header>
		<h1 class="heading-small">Información del viaje</h1>
		<div class="only-woman-info">
			<img src="assets/svgs/SecurityShield.svg" alt="Escudo">
			<p class="paragraph-small">Solo mujeres en el viaje</p>
		</div>
	</header>

	<body>
		<section class="vehicle">
			<p class="label-small">Vehículo</p>
			<div class="vehicle-card">
				<div class="vehicle-card-image">
					<movic-vehicle color="#FF0000"></movic-vehicle>
				</div>
				<div class="vehicle-card-info">
					<div class="vehicle-details">
						<p class="label-medium vehicle-title">Chevrolet | Vitara</p>
						<p class="label-medium vehicle-plate">AFN1234</p>
					</div>
					<div class="vehcicle-specs">
						<p class="label-medium">Rojo</p>
						<p class="label-medium quantity-seats-available">Asientos disponibles 3 de 4</p>
					</div>
				</div>
			</div>
		</section>

		<section class="route">
			<p class="label-small">Ruta</p>
			<div class="route-card">
				<div class="icons-points">

				</div>
				<div class="points-name">
					<p class="label-medium">UCAB</p>
					<P class="label-medium">Mi casa</P>
				</div>
				<div class="icon-map">
				</div>
			</div>
		</section>
	</body>

	<button mButton size="large">Siguiente</button>


</page-layout>