<page-layout [hasTabBar]="true">
	<header>
		<h1 class="heading-xsmall">Mis destinos</h1>
		@if(destinations.length < 3){ <button mButton severity="contrast" size="small" routerLink="/app/my-destination/add">
			Agregar</button>
			}
	</header>
	<p class="paragraph-medium destination-counter">{{destinations.length}} de 3 destinos para agregar</p>

	@if (destinations.length === 0) {
	<p class="paragraph-medium">No tienes destinos agregados</p>
	}

	<ul class="destinations-list">
		@for (d of destinations; track d.id) {
		<card-my-destination [destination]="d" [actionButtons]="true" (onDelete)="handleDelete(d.id)" />
		}
	</ul>

</page-layout>