<page-layout>
	<header>
		<h1 class="heading-xsmall">Administrar vehículos</h1>
	</header>

	<section>
		<div class="card-cars-container">
			<movic-car></movic-car>
			<div class="card-info-container">
				<div class="card-header-container">
					<h3>Chevrolet | Spark</h3>
					<h3>A17BN1E</h3>
				</div>
				<div class="card-specs-container">
					<span class="car-detail"><img src="assets/svgs/CarSeat.svg" /> <strong>4</strong></span>
					<span class="car-detail"><img src="assets/svgs/PaintPalette.svg" /> <strong>Negro</strong></span>
				</div>
				<div class="card-buttons-container">
					<button mButton severity="tertiary">Eliminar</button>
					<button mButton severity="tertiary">Editar</button>
				</div>
			</div>
		</div>
	</section>

</page-layout>