<page-layout [hasTabBar]="true">
	<header>
		<h1 class="heading-xsmall">Administrar vehículos</h1>
		@if(ownVehiclesQuantity < 3) { <button mButton severity="contrast" size="small"
			routerLink="/app/my-vehicle/add">Agregar</button>
			}
	</header>
	<p class="paragraph-medium vehicle-counter">{{ownVehiclesQuantity}} de 3 vehículos para agregar</p>

	<section>
		@for (vehicle of myVehicles; track vehicle.id) {
		<card-vehicle [vehicle]="vehicle" (updateVehicles)="getOwnVehicles()" />
		}
	</section>


</page-layout>