/* TODO: change colors to new branding (see Figma) */
:root {
	/* Status colors */
	--success: #49af41;
	--warning: #ffe16a;
	--error: #f52936;

	/* Text color */
	--text-color: #001b25;

	/* Background color */
	--background-color: #fcf6ef;

	/* Branding colors */
	--primary-subtle: #feebf1;
	--primary-lighter: #fb7ea4;
	--primary: #f92564;
	--primary-darker: #a90536;

	--secondary-subtle: #d9dff5;
	--secondary-lighter: #254bd4;
	--secondary: #0c1844;
	--secondary-darker: #070e27;

	--tertiary-subtle: #ede5f2;
	--tertiary-lighter: #b286d0;
	--tertiary: #7d40a5;
	--tertiary-darker: #4b2663;

	--contrast-subtle: #ffffff;
	--contrast-lighter: #fdfaf6;
	--contrast: #fcf6ef;
	--contrast-darker: #dd994b;
}
