:root {
	/* Primary color Royal Blue*/
	--primary-50: #e3e7f7;
	--primary-100: #c3cbee;
	--primary-200: #8b9adf;
	--primary-300: #4f67ce;
	--primary-400: #2d43a4;
	--primary-500: #1d2b69;
	--primary-600: #172254;
	--primary-700: #121a40;
	--primary-800: #0c122c;
	--primary-900: #060814;
	--primary-950: #03050c;

	/* Secondary color Cornflower blue */
	--secondary-50: #f0f5ff;
	--secondary-100: #e0ebff;
	--secondary-200: #c7dbff;
	--secondary-300: #a8c7ff;
	--secondary-400: #8ab3ff;
	--secondary-500: #6ea1ff;
	--secondary-600: #2470ff;
	--secondary-700: #004ddb;
	--secondary-800: #003494;
	--secondary-900: #001947;
	--secondary-950: #000c24;

	/* Tertiary color Imperial red */
	--tertiary-50: #ffebec;
	--tertiary-100: #ffdbdd;
	--tertiary-200: #ffb3b6;
	--tertiary-300: #ff8f94;
	--tertiary-400: #ff6b72;
	--tertiary-500: #ff464e;
	--tertiary-600: #ff0512;
	--tertiary-700: #c2000a;
	--tertiary-800: #800006;
	--tertiary-900: #420003;
	--tertiary-950: #1f0002;

	/* Contrast color Columbia blue */
	--contrast-50: #fbfcfe;
	--contrast-100: #f3f7fc;
	--contrast-200: #e6eff9;
	--contrast-300: #dae7f6;
	--contrast-400: #d2e2f4;
	--contrast-500: #c4d9f1;
	--contrast-600: #7fade1;
	--contrast-700: #357dcf;
	--contrast-800: #21538c;
	--contrast-900: #112a46;
	--contrast-950: #091625;

	/* System Colors */
	--error-50: #feeced;
	--error-100: #fdd3d6;
	--error-200: #fba7ad;
	--error-300: #f98088;
	--error-400: #f7545f;
	--error-500: #f52936;
	--error-600: #db0a18;
	--error-700: #a60812;
	--error-800: #6b050c;
	--error-900: #360206;
	--error-950: #1d0103;

	--success-50: #edf8ec;
	--success-100: #d8f0d6;
	--success-200: #b4e2b1;
	--success-300: #8dd388;
	--success-400: #69c563;
	--success-500: #49af41;
	--success-600: #3a8d35;
	--success-700: #2b6827;
	--success-800: #1d471a;
	--success-900: #0e210c;
	--success-950: #081307;

	--warning-50: #fffcf0;
	--warning-100: #fff9e0;
	--warning-200: #fff3c2;
	--warning-300: #feeda2;
	--warning-400: #ffe88a;
	--warning-500: #ffe16a;
	--warning-600: #ffd324;
	--warning-700: #d6ab00;
	--warning-800: #8f7200;
	--warning-900: #473900;
	--warning-950: #241d00;

	/* Text color */
	--text-color: #001b25;

	/* Background color */
	--background-color: #fcf6ef;

	/* Surface */
	--primary-surface-subtle: var(--primary-100);
	--primary-surface-lighter: var(--primary-300);
	--primary-surface: var(--primary-500);
	--primary-surface-darker: var(--primary-700);

	--secondary-surface-subtle: var(--secondary-100);
	--secondary-surface-lighter: var(--secondary-300);
	--secondary-surface: var(--secondary-500);
	--secondary-surface-darker: var(--secondary-700);

	--tertiary-surface-subtle: var(--tertiary-100);
	--tertiary-surface-lighter: var(--tertiary-400);
	--tertiary-surface: var(--tertiary-500);
	--tertiary-surface-darker: var(--tertiary-700);

	--contrast-surface-subtle: #f9fbff;
	--contrast-surface-lighter: var(--contrast-300);
	--contrast-surface: var(--contrast-500);
	--contrast-surface-darker: var(--contrast-700);

	--error-surface-subtle: var(--error-100);
	--error-surface-lighter: var(--error-300);
	--error-surface: var(--error-500);
	--error-surface-darker: var(--error-700);

	--success-surface-subtle: var(--success-100);
	--success-surface-lighter: var(--success-300);
	--success-surface: var(--success-500);
	--success-surface-darker: var(--success-700);

	--warning-surface-subtle: var(--warning-100);
	--warning-surface-lighter: var(--warning-300);
	--warning-surface: var(--warning-500);
	--warning-surface-darker: var(--warning-700);

	/* Border */

	--primary-border-subtle: var(--primary-100);
	--primary-border-lighter: var(--primary-300);
	--primary-border: var(--primary-500);
	--primary-border-darker: var(--primary-700);

	--secondary-border-subtle: var(--secondary-100);
	--secondary-border-lighter: var(--secondary-300);
	--secondary-border: var(--secondary-500);
	--secondary-border-darker: var(--secondary-700);

	--tertiary-border-subtle: var(--tertiary-100);
	--tertiary-border-lighter: var(--tertiary-300);
	--tertiary-border: var(--tertiary-500);
	--tertiary-border-darker: var(--tertiary-700);

	--contrast-border-subtle: #e2e2e2;
	--contrast-border-lighter: var(--contrast-300);
	--contrast-border: var(--contrast-500);
	--contrast-border-darker: var(--contrast-700);

	--error-border-subtle: var(--error-100);
	--error-border-lighter: var(--error-300);
	--error-border: var(--error-500);
	--error-border-darker: var(--error-700);

	--success-border-subtle: var(--success-100);
	--success-border-lighter: var(--success-300);
	--success-border: var(--success-500);
	--success-border-darker: var(--success-700);

	--warning-border-subtle: var(--warning-100);
	--warning-border-lighter: var(--warning-300);
	--warning-border: var(--warning-500);
	--warning-border-darker: var(--warning-700);

	/* Icon-Fill */

	--primary-icon-lighter: var(--primary-200);
	--primary-icon-darker: var(--primary-500);

	--secondary-icon-lighter: var(--secondary-200);
	--secondary-icon-darker: var(--secondary-300);

	--tertiary-icon-lighter: var(--tertiary-200);
	--tertiary-icon-darker: var(--tertiary-500);

	--contrast-icon-lighter: var(--contrast-200);
	--contrast-icon-darker: var(--contrast-300);

	/* Text */

	--primary-text-placeholder: var(--greyscale-text-subtitle);
	--primary-text-label: var(--primary-600);
	--primary-text-value: var(--primary-700);

	--secondary-text-placeholder: var(--greyscale-text-subtitle);
	--secondary-text-label: var(--secondary-500);
	--secondary-text-value: var(--secondary-400);

	--tertiary-text-placeholder: var(--greyscale-text-subtitle);
	--tertiary-text-label: var(--tertiary-500);
	--tertiary-text-value: var(--tertiary-400);

	--contrast-text-placeholder: var(--contrast-300);
	--contrast-text-label: #fcf6ef;
	--contrast-text-value: #fdf8f2;

	/* Greyscale Text*/

	--greyscale-text-title: var(--greyscale-900);
	--greyscale-text-body: var(--greyscale-800);
	--greyscale-text-subtitle: var(--greyscale-700);
	--greyscale-text-caption: var(--greyscale-700);
	--greyscale-text-disabled: var(--greyscale-700);

	/* Greyscale Border */

	--greyscale-border: var(--greyscale-400);
	--greyscale-border-disabled: var(--greyscale-300);
	--greyscale-border-darker: var(--greyscale-700);

	/* Greyscale Surface */

	--greyscale-surface: var(--greyscale-100);
	--greyscale-surface-subtle: var(--greyscale-50);
	--greyscale-surface-disabled: var(--greyscale-200);
}
