.container {
	display: flex;
	flex-direction: column;
	gap: 0.125rem;
	position: relative;
}

.input-container {
	display: flex;
	align-items: center;
	height: 3.063rem;
	width: 21.125rem;
	border: 0.125rem solid var(--contrast-border-subtle);
	border-radius: 0.625rem;
	background-color: var(--contrast-surface-subtle);
}

label {
	color: var(--primary-text-label);
}

/* TODO: use semantic color here */
.error-message {
	color: var(--error-500);
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translate(0.08rem, 1.35rem);
}

.input-container input {
	width: 100%;
	height: 100%;
	outline: none;
	padding: 0 0.8rem;
	border: 0;
	border-radius: 0.625rem;
	color: var(--primary-text-value);
	background-color: var(--contrast-surface-subtle);
}

.input-container input::placeholder {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	color: var(--primary-text-placeholder);
}

.input-container .icon {
	margin-right: 1.25rem;
	color: var(--primary-icon-darker);
	width: var(--icon-l);
	height: var(--icon-l);
}

/* TODO: use semantic color here */
.input-container.error {
	border-color: var(--error-500);
}
