<tab-bar-item iconSrc="assets/svgs/Home.svg" label="Inicio" href="/app"></tab-bar-item>
<tab-bar-item iconSrc="assets/svgs/Users.svg" label="MoviPanas" href="/app/movipanas"></tab-bar-item>


<div class="middle-space">
	<div class="main-circle">
		<div class="circle-icon" [style]="{mask: 'url(\'assets/svgs/Hand.svg\') no-repeat center', 'mask-size': '2.25rem'}">
		</div>
	</div>
	<div class="outline-circle"></div>
	<div class="circle-background"></div>
</div>

<tab-bar-item iconSrc="assets/svgs/MapPoint.svg" label="Mis Destinos" href="/app/my-destinations"></tab-bar-item>
<tab-bar-item iconSrc="assets/svgs/User.svg" label="Perfil" href="/app/profile"></tab-bar-item>