<tab-bar-item iconSrc="assets/svgs/Home.svg" label="Inicio" href="/app" [activeIconColor]="activeTabBarItemIconColor"
	[activeTextColor]="activeTabBarItemTextColor"></tab-bar-item>
<tab-bar-item iconSrc="assets/svgs/Users.svg" label="MoviPanas" href="/app/movipanas"
	[activeIconColor]="activeTabBarItemIconColor" [activeTextColor]="activeTabBarItemTextColor"></tab-bar-item>


<div class="middle-space">
	<a class="main-circle" routerLink="/app/travel-type-selection">
		<div class="circle-icon" [style]="{mask: 'url(\'assets/svgs/Ride.svg\') no-repeat center', 'mask-size': '2.25rem'}">
		</div>
	</a>
	<div class="outline-circle"></div>
	<div class="circle-background"></div>
</div>

<tab-bar-item iconSrc="assets/svgs/Vehicles.svg" label="Vehículos" href="/app/my-vehicles"
	[activeIconColor]="activeTabBarItemIconColor" [activeTextColor]="activeTabBarItemTextColor"></tab-bar-item>
<tab-bar-item iconSrc="assets/svgs/User.svg" label="Perfil" href="/app/profile"
	[activeIconColor]="activeTabBarItemIconColor" [activeTextColor]="activeTabBarItemTextColor"></tab-bar-item>