.container {
	display: flex;
	flex-direction: column;
	gap: 0.125rem;
	position: relative;
}

label {
	color: var(--primary-text-label);
}

/* TODO: use semantic color here */
.error-message {
	color: var(--error-500);
	margin-left: 0.25rem;
}

.invisible {
	visibility: hidden;
}

input {
	width: var(--input-width);
	height: 3.063rem;
	background-color: var(--contrast-surface-subtle);
	color: var(--primary-text-value);
	border: 0.125rem solid var(--contrast-border-subtle);
	border-radius: 0.625rem;
	outline: none;
	padding: 0 0.8rem;
}

input::placeholder {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	color: var(--primary-text-placeholder);
}

input.disabled {
	background-color: var(--greyscale-surface-disabled);
	color: #878eaa;
	border: none;
}

input.disabled::placeholder {
	color: #878eaa;
}

.disabled-label {
	color: #969bac;
}

/* TODO: use semantic color here */
input.error {
	border-color: var(--error-500);
}
