:host {
	border-radius: var(--radius-lg);

	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}

	/* Sizes */
	&.small {
		padding: 0.5rem;
		font-size: 1rem;
		line-height: 1.5rem;
		font-style: normal;
		font-weight: 500;
	}

	&.medium {
		padding: 0.75rem 1rem;
		font-size: 1rem;
		line-height: 1.5rem;
		font-style: normal;
		font-weight: 500;
	}

	&.large {
		width: 21.125rem;
		height: 4rem;
		padding: 0.75rem 4rem;
		font-size: 1rem;
		line-height: 1.5rem;
		font-style: normal;
		font-weight: 500;
	}

	/* Appearance */

	&.button-filled {
		background-color: var(--bg-color);
		border-color: var(--bg-color);
		color: var(--text-color);
	}

	&.button-outlined {
		background-color: transparent;
		border: 0.125rem solid var(--primary-border);
		color: var(--primary-text-value);
	}

	/* Severity */

	&.severity-primary {
		--bg-color: var(--primary-surface);
		--text-color: var(--contrast-text-label);
	}

	&.severity-secondary {
		--bg-color: var(--secondary-surface);
		--text-color: var(--contrast-text-value);
	}

	&.severity-contrast {
		--bg-color: var(--contrast-surface);
		--text-color: var(--primary-text-value);
	}

	&.severity-success {
		--bg-color: var(--success-surface);
		--text-color: var(--primary-text-value);
	}

	&.severity-info {
		--bg-color: blue;
		--text-color: black;
	}

	&.severity-warning {
		--bg-color: var(--warning-surface);
		--text-color: var(--primary-text-value);
	}

	&.severity-danger {
		--bg-color: var(--error-surface);
		--text-color: var(--primary-text-value);
	}

	&.severity-help {
		--bg-color: purple;
		--text-color: white;
	}

	&.severity-transparent {
		--bg-color: transparent;
		--text-color: var(--contrast-text-value);
	}
}
