.container {
	display: flex;
	flex-direction: column-reverse;
	gap: 0.125rem;
}

label {
	color: var(--primary-text-label);
}

input {
	height: 3.063rem;
	width: 21.125rem;
	background-color: var(--contrast-surface-subtle);
	color: var(--primary-text-value);
	border: 0.125rem solid var(--contrast-border-subtle);
	border-radius: 0.625rem;
	outline: none;
	padding: 0 0.8rem;
}

input::placeholder {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	color: var(--primary-text-placeholder);
}

input:disabled {
	background-color: var(--greyscale-surface-disabled);
	color: #878eaa;
	border: none;
}

input:disabled::placeholder {
	color: #878eaa;
}

input:disabled + label {
	color: #969bac;
}
