@if (isOpen) {
<div class="container">
	<div class="header">
		<div class="title-with-icon">
			<img [src]="srcIcon" class="icon" />
			<h1 class="label-large">{{title}}</h1>
		</div>
		<span (click)="closeModal()">
			<img src="assets/svgs/Cancel.svg" class="icon" />
		</span>
	</div>
	<div class="content">
		<ng-content></ng-content>
	</div>

	@if (variant === 'actions') {
	<div class="container-button">
		<button mButton size="small" (click)="cancel()">Cancelar</button>
		<button mButton size="small" (click)="confirm()" [disabled]="isConfirmButtonDisabled">Aceptar</button>
	</div>
	}

	@if (variant === 'confirmation') {
	<div class="container-button">
		<button mButton size="small" (click)="confirm()" [disabled]="isConfirmButtonDisabled">Aceptar</button>
	</div>
	}
</div>
<div class="overlay" #overlay></div>
}