<div [class.close]="!modalService.show">
	<div class="container">
		<div class="header">
			<div class="title-with-icon">
				<img [src]="srcIcon" class="icon" />
				<h1 class="label-large">{{tittle}}</h1>
			</div>
			<span (click)="onClose()">
				<img src="assets/svgs/Cancel.svg" class="icon" />
			</span>
		</div>
		<div class="content">
			<ng-content></ng-content>
		</div>
		<div class="container-button">
			<button mButton size="small" (click)="onClose()">Cancelar</button>
			<button mButton size="small" (click)="onClose()">Aceptar</button>
		</div>
	</div>
	<div class="overlay" #overlay></div>
</div>