<main class="container">
	<google-map height="100%" width="100%" [options]="options" [center]="destinationMarkerPosition" [zoom]="18">
		<!--TODO: Add InfoWindow for show the profile pic-->
		<map-marker [options]="markerOptions" [position]="destinationMarkerPosition" [options]="{
			icon: 'https://cdn-icons-png.flaticon.com/32/684/684908.png',
		}"></map-marker>
	</google-map>
	<div class="button-container">
		<button mButton size="large" severity="danger" (click)="sendEmergencymessage()">SOS</button>
	</div>
</main>