<page-layout [hasTabBar]="false">
  <header>
    <h1 class="heading-small">Califica el conductor</h1>
  </header>


  <section class="driver-vehicle-information">
    @if(ride?.travel?.vehicle?.driver){
    <div class="driver-information">
      <img class="avatar" src="{{ ride?.travel?.vehicle?.driver?.profilePicSrc }}" alt="Imágen del conductor" />
      <p class="label-medium">{{showFirstName(ride?.travel?.vehicle?.driver?.firstName ?? 'Nombre no disponible') }}
        {{showFirstLastName(ride?.travel?.vehicle?.driver?.lastName ?? 'Apellido no disponible')}}</p>
      <div class="rating-information">
        <img class="rating-icon" src="/assets/svgs/FullStarBlue.svg" alt="icono de rating" />
        <span class="card-information rating-number label-small">{{ride?.travel?.vehicle?.driver?.rating}}
          ({{ride?.travel?.vehicle?.driver?.reviewsQuantity}})</span>
      </div>
    </div>
    }
    <rating-buttons (selectedRating)="onSelectedRating($event)"></rating-buttons>
    @if(ride?.travel?.vehicle){
    <movic-vehicle [color]="ride?.travel?.vehicle?.color || '#fff'"></movic-vehicle>
    <div class="vehicle-information">
      <p class="paragraph-medium">{{ride?.travel?.vehicle?.brand}} | {{ride?.travel?.vehicle?.model}}</p>
      <p class="paragraph-medium">{{ride?.travel?.vehicle?.plate}}</p>
    </div>
    }

  </section>

  <button mButton size="large" (click)="ratingDriver()" [disabled]="!selectedRating">
    Calificar
  </button>

</page-layout>