<page-layout [hasTabBar]="false">
	<header>
		<h1 class="heading-small">Califica el conductor</h1>
	</header>

	<section class="driver-vehicle-information">
		<div class="driver-information">
			<img class="avatar" src="{{ ride?.travel?.vehicle?.driver?.profilePicSrc }}" alt="Imágen del conductor" />
			<p class="label-medium">Maria Paula Forero</p>
			<div class="rating-information">
				<img class="rating-icon" src="/assets/svgs/FullStarBlue.svg" alt="icono de rating" />
				<span class="card-information rating-number label-small">4.8 (60)</span>
			</div>
		</div>
		<div class="rating-buttons">
			<button>
				<img class="icon-star-rating" src="/assets/svgs/FullStarEmpty.svg" alt="Icono estrella de rating">
			</button>
			<button>
				<img class="icon-star-rating" src="/assets/svgs/FullStarEmpty.svg" alt="Icono estrella de rating">
			</button>
			<button>
				<img class="icon-star-rating" src="/assets/svgs/FullStarEmpty.svg" alt="Icono estrella de rating">
			</button>
			<button>
				<img class="icon-star-rating" src="/assets/svgs/FullStarEmpty.svg" alt="Icono estrella de rating">
			</button>
			<button>
				<img class="icon-star-rating" src="/assets/svgs/FullStarEmpty.svg" alt="Icono estrella de rating">
			</button>
		</div>
		<movic-vehicle [color]="ride?.travel?.vehicle?.color ?? '#fff'"></movic-vehicle>
		<div class="vehicle-information">
			<p class="paragraph-medium">{{ride?.travel?.vehicle?.brand}} | {{ride?.travel?.vehicle?.model}}</p>
			<p class="paragraph-medium">{{ride?.travel?.vehicle?.plate}}</p>
		</div>
	</section>

</page-layout>