.card {
	border-radius: 16px;
	padding: 0 .6rem;
	border: 3px solid #bab3c7;
	width: 100%;
	display: flex;
	margin-top: 1rem;
	align-items: center;
	gap: 1rem;
}

.card-body {
	width: 100%;
}

.card-row {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 0.6rem;
}

.avatar {
	width: 5.5rem;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
	object-fit: cover;
	margin-top: 0.5rem;
}

.driver-name {
	color: var(--primary-text-value);
}

.rating-number {
	color: var(--primary-text-placeholder);
}

.rating-information {
	display: flex;
	align-items: center;
	gap: .1875rem;
}

.rating-icon {
	width: 1.25rem;
}

.card-information {
	display: flex;
	align-items: center;
	gap: .1875rem;
}

.card-information-icon {
	width: var(--icon-s);
}

.card-information-title {
	color: var(--primary-text-placeholder);
}
