<div class="card">
	<img class="avatar" src="{{ driver.profilePicSrc }}" alt="Imágen del conductor" />

	<section>
		<div class="card-row label-medium">
			<span class="driver-name">{{ driver.firstName }} {{ driver.lastName }}</span>
			<div class="rating-information">
				<img class="rating-icon" src="/assets/svgs/FullStarBlue.svg" alt="icono de rating" />
				<span class="card-information rating-number">4.8 (60)</span>
			</div>
		</div>

		<div class="card-row paragraph-xsmall">
			<div class="card-information">
				<img class="card-information-icon" src="/assets/svgs/WalkGrey.svg" alt="icono de distancia a caminar" />
				<span class="card-information-title">{{ driver.walkDistance }}m</span>
			</div>
			<div class="card-information">
				<img class="card-information-icon" src="/assets/svgs/UnLink.svg" alt="icono de emparejamiento" />
				<span class="card-information-title">70%</span>
			</div>
			<div class="card-information">
				<img class="card-information-icon" src="/assets/svgs/UnLink.svg" alt="icono de emparejamiento" />
				<span class="card-information-title">{{ driver.passengerAmount }}/{{ driver.passengerCapacity }}</span>
			</div>
		</div>
	</section>
</div>