<label for="color-select" class="label-medium">Color</label>

<select name="colors" id="color-select">
	<option value="">Seleccione un color de vehículo</option>
	<option value="black">Negro</option>
	<option value="white">Blanco</option>
	<option value="blue">Azul</option>
	<option value="gray">Gris</option>
	<option value="silver">Plateado</option>
	<option value="red">Rojo</option>
	<option value="green">Verde</option>
	<option value="yellow">Amarillo</option>
	<option value="purple">Morado</option>
	<option value="pink">Rosado</option>
	<option value="orange">Naranja</option>
</select>