.input-container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 0.4rem;
	margin-bottom: 1rem;
}

label {
	color: var(--primary-text-label);
}

input {
	width: 1.2rem;
	height: 1.2rem;
}
