<page-layout>
	<header class="header-container">
		<div>
			<brand-logo class="logo" size="small" />
			<h4 class="heading-xsmall">Ingrese los datos</h4>
		</div>
	</header>

	<section>
		<form class="container" (submit)="handleSubmit()" [formGroup]="registerFormGroup">
			<div class="input-profile-pic-container">
				<label for="profilePic" class="label-medium">Subir foto de perfil</label>
				<input type="file" (change)="onImageUpload($event)" id="profilePic"
					accept="image/png,image/jpg,image/jpeg" class="input-profile-pic" />
			</div>

			<text-input inputId="name" label="Nombre" placeholder="Ingrese el nombre"
				[control]="registerFormGroup.controls.firstName" />

			<text-input inputId="lastName" label="Apellido" placeholder="Ingrese el apellido"
				[control]="registerFormGroup.controls.lastName" />


			<div class="radio-input-container">
				<label for="gender" class="label-medium">Sexo</label>
				<div class="radio-button-group">
					<radio-button inputId="gender-male" [control]="registerFormGroup.controls.gender" value="female"
						label="Femenino" />
					<radio-button inputId="gender-female" [control]="registerFormGroup.controls.gender" value="male"
						label="Masculino" />
				</div>
			</div>

			<text-input inputId="email" label="Correo Electrónico" placeholder="Ingrese el correo electrónico"
				[control]="registerFormGroup.controls.email" />

			<password-input inputId="password" label="Contraseña" placeholder="Ingrese la contraseña"
				[control]="registerFormGroup.controls.password" />

			<password-input inputId="confirmPassword" label="Confirmar contraseña"
				placeholder="Ingrese la contraseña nuevamente" [control]="registerFormGroup.controls.confirmPassword" />

			@if(isAStudent()){
			<text-input inputId="type" label="Tipo" [control]="registerFormGroup.controls.type" />
			} @else {
			<div class="radio-input-container">
				<label for="type" class="label-medium">Tipo</label>
				<div class="radio-button-group">
					<input type="radio" name="type" id="staff" formControlName="type" value="staff">
					<input type="radio" name="type" id="staff" formControlName="type" value="professor">
					<!-- <radio-button inputId="type-staff" [control]="registerFormGroup.controls.type" value="staff"
						label="Personal" /> -->
					<!-- <radio-button inputId="type-professor" [control]="registerFormGroup.controls.type" value="professor"
						label="Profesor" /> -->
				</div>
			</div>
			}

			<button mButton severity="secondary" size="large">Registrarme</button>

		</form>

	</section>
</page-layout>