<page-layout [hasTabBar]="true">
	<h1 class="heading-small">Modalidad de viaje</h1>
	<section class="cards-container">
		<button class="card" (click)="handleFromUcabSelection()">

			<img class="image" src="/assets/svgs/UcabToExternal.svg" alt="" />

			<div class="card-info heading-xsmall">
				<img class="icon" src="/assets/svgs/University.svg" alt="" />

				<div class="information-text">
					<h3 class="option-name">UCAB → Destino Externo</h3>
					<p class="label-small">Servicio de movilidad con un punto inicial en la UCAB y punto final un
						destino Externo.
					</p>
				</div>
			</div>
		</button>

		<button class="card" (click)="handleToUcabSelection()">

			<img class="image" src="/assets/svgs/ExternalToUcab.svg" alt="" />

			<div class="card-info heading-xsmall">
				<img class="icon" src="/assets/svgs/City.svg" alt="" />

				<div class="information-text">
					<h3 class="option-name">Destino Externo → UCAB</h3>
					<p class="label-small">Servicio de movilidad con un punto inicial externo y punto final la UCAB.</p>
				</div>
			</div>
		</button>
	</section>
</page-layout>