<page-layout [hasTabBar]="true">
	<h1 class="heading-small">Modalidad de viaje</h1>
	<section class="cards-container">
		<a class="card" [routerLink]="routeToRedirect">

			<img class="image" src="/assets/svgs/UcabToExternal.svg" alt="" />

			<div class="card-info heading-xsmall">
				<img class="icon" src="/assets/svgs/University.svg" alt="" />

				UCAB → Destino Externo
			</div>
		</a>

		<a class="card" [routerLink]="routeToRedirect">

			<img class="image" src="/assets/svgs/ExternalToUcab.svg" alt="" />

			<div class="card-info heading-xsmall">
				<img class="icon" src="/assets/svgs/City.svg" alt="" />

				Destino Externo → UCAB
			</div>
		</a>
	</section>
</page-layout>