h1 {
	text-align: left;
	margin-top: 2rem;
	width: 100%;
}

p {
	color: var(--primary-text-placeholder);
	margin-top: .25rem;
	margin-bottom: 2.0625rem;
	margin-right: 1.125rem;
	text-wrap: pretty;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--text-color);
	width: 100%;
	border-radius: 20px;
	border: 3px solid #bab3c7;
	cursor: pointer;
	gap: 0.5rem;
}

.cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 2rem;
}

.card-info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 1rem;
}

.icon {
	width: 2.25rem;
	min-height: 2.25rem;
	margin-left: 1.1875rem;
}

.image {
	min-height: 8.125rem;
	margin-top: 2rem;
	margin-bottom: 1.125rem;
	padding-left: .5rem;
	padding-right: .5rem;
}
