h1 {
	text-align: left;
	margin-top: 2rem;
	width: 100%;
	color: var(--primary-text-label);
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 1rem;
	width: 100%;
}

section {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
}

.checkbox-container {
	width: 100%;
	margin-top: 1rem;
}

.only-woman-checkbox {
	display: none;
}

.only-woman-label {
	color: #f92564;
	border: 2px solid #f92564;
	border-radius: 16px;
	font-weight: 500;
	padding: 8px 10px;
	transition: all 0.2s;
}

.only-woman-label:has(.only-woman-checkbox:checked) {
	color: white;
	background-color: #f92564;
}

.driver-card {
	cursor: pointer;
}
