<page-layout>
	<div class="container-container">
		<div class="chat-container">
			@if (this.rideMessages !== null) {
			<div class="chat-heading">
				@if (!whoami(rideMessages.driver.id)) {
				<button (click)="redirectPassenger()">
					<img src=" /assets/svgs/ArrowLeft.svg" alt="icono de volver atras" class="icon-img" />
				</button>
				<div class="person-container">

					<img class="person-img" src="{{ rideMessages.driver.profilePicSrc }}" alt="imagen de usuario" />
					<div class="person-name">
						{{rideMessages.driver.firstName}} {{rideMessages.driver.lastName}}
					</div>
				</div>
				<img src="/assets/svgs/ChatCarIcon.svg" alt="icono de tipo de usuario" class="icon-img" />
				} @else {
				<button class="no-style-button" (click)="redirectDriver()">
					<img src="/assets/svgs/ArrowLeft.svg" alt="icono de volver atras" class="icon-img" />
				</button>
				<div class="person-container">
					<img class="person-img" src="{{ rideMessages.passenger.profilePicSrc }}" alt="imagen de usuario" />
					<div class="person-name">
						{{rideMessages.passenger.firstName}} {{rideMessages.passenger.lastName}}
					</div>
				</div>
				<img src="/assets/svgs/HandBlue.svg" alt="icono de tipo de usuario" class="icon-img" />
				}
			</div>
			<div class="msgs-container">
				@for (date of groupedMessages; track $index) {
				<div class="chat-date">{{date.date}}</div>
				@for (item of
				date.messages; track $index) { @if (item.isMine) {
				<div class="own-msg-container">
					<div class="msg">{{ item.content }}</div>
					<div class="msg-timestamp">{{ formatDate(item.createdAt) }}</div>
				</div>
				}@else {
				<div class="msg-container">
					<div class="msg">{{ item.content }}</div>
					<div class="msg-timestamp">{{ formatDate(item.createdAt) }}</div>
				</div>
				} } }
			</div>
			}

			<div class="input-container">
				<span class="input-placeholder" (click)="toggleSelect()">Enviar un mensaje</span>
				<img src="/assets/svgs/BubbleChat.svg" alt="icono de enviar mensaje" (click)="toggleSelect()" />
				<div class="custom-select" id="messageSelect">
					@if(this.isSelectOpen){
					<div class="select-options">
						@for (option of selectOptions; track $index) {
						<div class="option" (click)="sendMessage(option)">{{option}}</div>
						}
					</div>
					}
				</div>
			</div>
		</div>
	</div>
</page-layout>