<page-layout>
	@if (this.rideMessages !== null) {
	<h1 class="heading-small">Chat con {{rideMessages.driver.firstName}} </h1>
	<div class="msgs-container">
		@for (msg of rideMessages.messages; track $index) {
		@if (msg.isMine) {
		<div class="own-msg-container">
			<div class="msg">{{msg.content}}</div>
			<div class="msg-timestamp">{{formatDate(msg.createdAt)}}</div>
		</div>
		}@else {
		<div class="msg-container">
			<div class="msg">{{msg.content}}</div>
			<div class="msg-timestamp">{{formatDate(msg.createdAt)}}</div>
		</div>
		}
		}
	</div>
	}

	<input type="text" name="" id="" class="text-box" placeholder="Mensaje" [(ngModel)]="newMessage"
		(keyup.enter)="sendMessage()">
</page-layout>